body {
  width: 60em;
  margin: 0 auto;

  display: grid;
  grid-template-columns: repeat(6, 1fr);
  grid-template-rows: repeat(4, 1fr);
}

section {
  padding: 2em;
  margin: 1em;
}

#green {
  background-color: #8ffda7;

  grid-column: span 6;
  grid-row: span 1;
}

#orange {
  background-color: #ffc788;

  grid-column: 1 / span 4;
  grid-row: 4 / span 1;
} 

#yellow {
  background-color: #ffff92;

  grid-column: 1 / span 2;
  grid-row: 2 / span 2;
}

#yellow > ul,
#red > ul {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(2, 1fr);
}

#red {
  background-color: #ff919c;

  grid-column: 3 / span 2;
  grid-row: 2 / span 2;
}

#blue {
  background-color: #98d2ff;

  grid-column: 5 / span 2;
  grid-row: 2 /span 3;
}

ul {
  padding: 0;
}

li {
  background-color: white;
  padding: 1em;
  display: block;
  margin: 1em;
}
